header {
    height: 80px; width: 100%;
    background: #555;
    display: flex !important; justify-content: center; align-items: center;
}
header .row .col-12 {
    display: flex; justify-content: space-between; align-items: center;
}
header img {
    height: 60px; width: 60px;
}
header p {
    font-size: 1.15rem;  margin: 0 0 0 30%;
}